body {
    font-size: 15pt;
}
.no_checked{
	background: whitesmoke;
	width: 100%;
	border: 1px solid;
	border-radius: 5px;
	margin-bottom: 15px;
}
.checked{
	background: yellow;
	border: 2px solid lightsalmon;
}
#btn-1{
	margin-left: 35%;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
#console{
	display: flex;
	padding: 2px;
	height: 25px;
	width: 98%;
	border: 2px solid dimgrey;
	background: linear-gradient(to bottom, whitesmoke, lightgrey, grey);
	margin-bottom: 10px;
	
}

#set-box{
	margin-right: 50px;
}
#search{
	width: 40%;
}
#menu{
	position: absolute;
	width: 100%;
 padding-top: 20px;
	top: 0;
	left: 0;
	height: 600px;
	background: linear-gradient(to bottom, whitesmoke, oldlace);
	border: 2px solid;
	display: none;
}
#main{
	position: relative;
}
#hideBlock{
background: seashell;
padding-bottom: 30px;
display: none;
text-align: center;
margin-top: 20px;
border: 1px solid;
}
.res_box{
	border: 1px solid;
	width: 50%;
	text-align: center;
	
}
.s{
	width: 50%;
	height: 20px;
	
}
#ball-box{
	font-size: 40px;
}
h8{
	font-size: 12px;
}
#end-btn{
	margin-left: 40%;
	width: 20%;
}
#container{
	width: 100%;
	height: 1px;
	/*border: 1px solid red;*/
	position: relative;
}
#hint{
	position: absolute;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	top: 30px;
	left: 0;
	width: 40%;
	height: 20px;
	/*border: 2px solid;*/
	z-index: 100;
	
}
